doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        header.header.bg-primary.p-3
            .container-fluid
                h1.text-light #{title}
        .container.mt-5
            .row
                each person in people
                    .col-md-4
                        .card.mb-4
                            .card-img-top.person-image(style=`background: url('/images/${person.imgSrc}') top center no-repeat; background-size: cover; height: 200px;`)
                            .card-body
                                h2.card-title.person-name #{person.firstname} #{person.lastname}
                                a.btn.btn-primary(href=`/profile?id=${person.id}`) View Profile